body {
  font-family: Arial, sans-serif;
  background-color: #fabdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container{
  background-color: #ecdcdc;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

button{
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #2e2b2b;
  color: white;
  border-radius: 10px;
}
